[2014-03-03 17:59] eyeseast opened #1 "List plugin on the WordPress plugin registry as DocumentCloud"
Here's the old version: http://wordpress.org/plugins/navis-documentcloud/

[2014-03-03 18:17] eyeseast opened #2 "Shortcode renders the latest embed code"
Here's an example, direct from DC:

[code]

This needs to set `width: '100%'` like the current version does, to keep it semi-responsive.

[2014-03-03 18:20] eyeseast opened #3 "Support embedding collections/searches"
Here's what the embed code looks like:

[code]

[2014-03-03 18:27] eyeseast opened #4 "Support embedding a single note"
Here's the embed code:

[code]

[2014-03-03 18:28] eyeseast opened #5 "Test plugin with latest version of WordPress"
Current metadata says 3.2, and we're way past that.

[2014-03-05 20:56] eyeseast opened #6 "Code style cleanup"
I see at least two commenting styles (`#` and `//`). We should decide on a capitalization convention, too.

[2014-03-05 20:58] eyeseast opened #7 "Rename main class"
`class Navis_DocumentCloud` should become `class WP_DocumentCloud` or just `class DocumentCloud`.

Any reason not to do this?

[2014-03-24 16:21] eyeseast opened #8 "Allow embedding with just the URL"
Be like YouTube, Vimeo, etc. A document URL on its own line would get turned into an embed with default settings.

[2014-03-25 14:30] eyeseast opened #9 "Aspect ratio argument for embeds"
I would love to be able to tell a document to maintain an aspect ratio as width changes. For example, keep the embed at 8.5 x 12 (allowing for chrome).

This might be something better implemented in DocumentCloud itself, but it may be possible within the shortcode, using some added JS. (cc: @knowtheory)

[2014-06-14 22:15] eyeseast opened #10 "Add embed button/control when editing in text mode"
The button and MCE plugin are only attached to the visual editor, which I'm always telling people to avoid. Need it to show up in text mode.

[2014-06-14 22:40] #6 closed, assigned to nobody

[2014-06-14 23:05] #2 closed, assigned to nobody

[2014-07-05 19:12] AbeHandler opened #11 "PHP wrapper for Document Cloud API"
Hi Everyone,

I work at The Lens in New Orleans. We want to call the Document Cloud API from PHP (we're on Largo), so I'm working on a wrapper for the API, like this one: http://python-documentcloud.readthedocs.org/en/latest/ but for PHP.

My plan is to start with http://phphttpclient.com/ -- then build an adapter on top of it that will form the interface for calls to the Document Cloud API. From

[2014-07-07 14:17] #5 closed, assigned to nobody

[2014-07-07 14:21] #9 closed, assigned to nobody

[2014-07-07 14:34] eyeseast opened #12 "Allow document search within post edit screen"
It would be awesome if I could embed documents in a post without ever having to leave WP. We should be able to do this entirely with javascript. Backbone and Underscore are built into WP now, so we don't need any added dependencies.

I've built something like this before (https://github.com/sunlightlabs/navis-openstates) so it shouldn't be too hard.

[2014-07-10 17:37] eyeseast opened #13 "Sidebar widget for Document List embed"
I did the first version of the sidebar widget on [Homicide Watch](http://homicidewatch.org/) just using a regular text widget. Is it worth trying to make this easier without duplicating a lot of documentcloud.org functionality?

[2014-12-29 14:54] eyeseast opened #14 "Add responsive options to shortcode"
Now that @documentcloud is moving towards a responsive viewer (https://github.com/documentcloud/document-viewer/pull/46) we should add the options to the shortcode. Question is, should embeds be responsive by default?

[2015-04-13 15:23] reefdog opened #15 "Try to get on the official WordPress oEmbed whitelist"
See https://codex.wordpress.org/Embeds#Okay.2C_So_What_Sites_Can_I_Embed_From.3F

If we were whitelisted, then this plugin would be unnecessary (except to support older versions of WP).

So this issue is also the "obsolete this plugin" issue.

[2015-04-13 15:26] eyeseast commented on #15
I think this is worth doing, but I don't think it would make the plugin obsolete. You might still want to pass in viewer configuration on a per-document basis.

We could also implement oembed-style embedding via this plugin, like Storify does.

[2015-04-13 15:27] #11 closed

[2015-04-13 15:28] knowtheory commented on #15
@eyeseast we're implementing an oEmbed endpoint right now, and were planning on kicking around this wordpress plugin as our test consumer.

What's Storify do regarding oEmbed? :)

[2015-04-13 15:29] reefdog commented on #15
@eyeseast That's totally true, we'd discussed that internally and I'd forgotten that. There's definitely still room for a more advanced plugin even after whitelisting.

[2015-04-13 15:34] eyeseast commented on #15
See point 3 here: https://wordpress.org/plugins/storify/faq/. You just include a link on its own line, like so:

[code]

The storify link will get turned into an embed code.

[2015-04-13 15:38] aschweigert commented on #15
The storify plugin might be a pretty good reference actually if you're not familiar with how WP handles some of this stuff (or, is able to handle some of this stuff) from the theme/plugin side

[2015-04-13 22:34] iparamonau commented on #15
Hi guys. Sorry to cut in, I monitor "oEmbed" topic here on GitHub.

I am one of the guys behind Iframely and we'd be happy to be your test oEmbed consumer. And actually work with you as I am sure you will run into document height issues.

What Storify does as embed code is that they give iframe of 750 height and also include javascript that adjusts the height onload through window.postMessage. htt

[2015-04-14 18:33] reefdog commented on #14
+1 to the option being added, but it's not ready yet to be the default.

[2015-04-14 18:44] reefdog commented on #13
@eyeseast Hmm, maybe so. Do you want to flesh out the use case, perhaps share how you did yours?

[2015-04-14 18:51] eyeseast commented on #13
Sure @reefdog. All I did was use the standard DocumentCloud document list widget in a text widget:

[code]

It's a perfectly serviceable way to get a sidebar widget with my recent documents in it. You might have a more WordPress-y widget that let you choose those options from within the WP admin, but like I said above, you might end up just duplicating a bunch of functionality that's already in th

[2015-04-14 18:52] eyeseast commented on #8
See also #15

[2015-04-14 19:12] reefdog commented on #1
Do we start a new one, or update that one? If the latter, presumably we do so through the svn repo (blarg)? @eyeseast would you consider giving @knowtheory or I access to it? (I'm the new DocumentCloud dev; also hi!)

[2015-04-14 20:13] reefdog opened #16 "Use oEmbed"
We're [adding an oEmbed service to DocumentCloud](https://github.com/documentcloud/documentcloud/tree/oembed), so I'll be adapting this plugin to take advantage of it. The syntax of the shortcodes won't change, so it'll be backwards-compatible.

Goals:

1. Fetch the embed code from our oEmbed service, natch
2. Support existing `[documentcloud]` shortcodes ~~for documents, but prefer `[dc-document]

[2015-04-14 20:18] reefdog commented on #7
No reason I can think of… unless anyone out there was extending it. Seems unlikely.

[2015-04-16 14:42] reefdog commented on #8
Luckily this is super easy with `wp_oembed_add_provider()`. Got it running in the `oembed` branch and will push it up in a bit.

[2015-04-16 15:12] knowtheory opened #17 "Figure out how to release a new version of the plugin to the wordpress plugin index"

[2015-04-16 15:18] reefdog commented on #17
See also #1.

[2015-04-16 16:13] reefdog commented on #7
Done in 41d12de41cfd90063916cf3d8654e5ae0f9a4585

[2015-04-16 16:14] reefdog commented on #1
Internally done in f6ccc343942f66896bd12d8347e8be7e19260796, still need to figure out how to rename/update WP plugin directory.

[2015-04-16 16:21] reefdog commented on #15
Steps to getting here:

1. [ ] oEmbed service deployed to production, stable and tested
2. [ ] Resource pages properly discoverable (not necessary for inclusion, just a dotted i / crossed t)
3. [ ] Document how someone would use this sans plugin
4. [ ] Ask WordPress nicely?

[2015-04-16 16:25] #7 closed

[2015-04-16 22:18] reefdog commented on #16
@eyeseast While building this, I ran into the `documents` and `wide_assets` post metadata you're saving on `save()`. Can't figure out what these are used for, though. Help?

[2015-04-17 07:52] eyeseast commented on #17
I think this is a duplicate of #1.

[2015-04-17 11:34] knowtheory commented on #17
Okay! we'll call it a duplicate :)

[2015-04-17 11:34] #17 closed

[2015-04-17 23:46] reefdog commented on #3
Leaving this open, but renaming it to "Support embedding collections/searches", since it's actually going to use the same shortcode now that we're all-in on oEmbed.

[2015-04-17 23:47] reefdog commented on #4
Renaming this to "Support embedding a single note", since it's actually going to use the same shortcode.

[2015-04-18 09:02] eyeseast commented on #16
Hey @reefdog, @knowtheory can we talk about this at some point? Sounds like you guys are taking this plugin in a new direction and I'm feeling a little out of the loop. Should bring in @aschweigert, too, since INN has been recommending this plugin in Largo.

[2015-04-18 09:14] eyeseast commented on #16
@reefdog: To your question about wide assets, that was something we did in a lot of the @argoproject / @stateimpact plugins. The basic idea was that plugin could set a post meta variable saying that it was meant for a wider post format (like a full-width document) and a theme could deal with that. It's meant to be a loose contract, hence settings for normal width and full width.

[2015-04-18 09:35] eyeseast commented on #1
This was a pain to upload the first time, and I haven't tried to do it again. Where I have it in production, I'm pulling straight from Github.

Might be simpler to just upload a new version under the right name. The WordPress plugin registry is still [one giant svn repo](https://developer.wordpress.org/plugins/wordpress-org/#restrictions) (ick) so that's another complication.

[2015-04-18 12:59] knowtheory commented on #16
@eyeseast Definitely! Would you prefer to jump on the phone or would posting here be suitable?

[2015-04-18 13:04] eyeseast commented on #16
Posting here is great. I'm on the road this week, which is putting me
further behind.

On Sat, Apr 18, 2015 at 2:59 PM, Ted Han <notifications@github.com> wrote:

--
Chris Amico
Glass Eye Media LLC <http://glasseyemedia.org>

[2015-04-18 13:40] reefdog commented on #16
Let's definitely chat, I feel a bit sheepish. I'm new to DocumentCloud, and while Ted gave me some ancestry on the plugin, I had it in my head that we'd already taken over maintenance and I let myself come in like a wrecking ball. Should've kept you guys in the loop much better, mea culpa!

[2015-04-18 14:38] eyeseast commented on #16
Totally ok. I'm happy to see work being done on this. The sudden flurry of activity just caught me by surprise. I'm back to work in just over a week.

[2015-04-18 15:52] knowtheory commented on #16
@reefdog i wouldn't sweat it, the responsibility for this one is all on me.

So our general disposition is this (all of this is open for discussion, this is just describing where our heads are at):

Any changes we're making to the plugin should be 100% backwards compatible from a user POV, and any forward changes should add functionality (in this case adding notes and searches).  The only addition

[2015-04-21 16:39] reefdog opened #19 "Revisiting default embed sizes"
While adapting the plugin for oEmbed, I wanted to maintain 100% backwards compatibility with existing defaults and shortcode attributes. Here are the current size defaults:

[code]

(Quick aside: oEmbed services, including ours, expect `maxwidth/maxheight`, but WordPress standardized on `height/width` for its embed shortcodes, so it does a dance to map `height/width` to `maxwidth/maxheight` right

[2015-04-21 21:19] reefdog commented on #16
Status of the oembed branch:

- Raw URLs and `[documentcloud]` shortcodes both generate embeds using oEmbed
- Previous shortcode attributes supported and defaults respected
- New attributes added for remaining embed options (container, notes, responsive, etc.)
- `save()` function minimally modified (just for compatibility with name changes)
- `get_defaults()` and `embed_shortcode()` left for exami

[2015-04-27 15:37] reefdog opened #20 "Research cache age of oEmbed response"
WP can cache the oEmbed response; to enable it, we just need to flip `WP_DocumentCloud::CACHING_ENABLED` to true. But does it obey our `cache_age` or have its own internal age? Research.

[2015-04-28 18:45] reefdog commented on #19
Bumping this. In summary: would you guys be okay with me nixing the 600/620px defaults above and letting WordPress's own default embed widths/heights be the initial default? So precedence goes:

1. Shortcode attributes
2. User-defined settings (Settings > DocumentCloud)
3. WordPress's default sizing for embeds

[2015-04-28 18:48] reefdog commented on #14
Offline consensus is that we can indeed default to responsive. Making it so.

[2015-04-28 18:52] aschweigert commented on #19
That seems ok to me.

[2015-04-28 18:53] eyeseast commented on #14
Seems reasonable to me, too.

On Tue, Apr 28, 2015 at 2:48 PM, Justin Reese <notifications@github.com>
wrote:

--
Chris Amico
Glass Eye Media LLC <http://glasseyemedia.org>

[2015-04-28 19:29] reefdog opened #22 "Changes to `wide_assets` and `documents` post metadata"
When a post is saved, we store a couple pieces of metadata:

- ~~`documentcloud`~~ `documents` stores all the shortcode attributes. I don't know what it's used for.
- `wide_assets` set to `true|false` to hint to the template that the post contains, well, wide assets. Several StateImpact sites respond to this hint according to https://github.com/documentcloud/wordpress-documentcloud/issues/16#issue

[2015-04-28 19:29] reefdog commented on #22
Sorry; the first bit of metadata is `documents`, not `documentcloud`.

[2015-04-28 19:44] reefdog opened #23 "Inserting shortcode with widget triggers "tinyMCE.getInstanceById is not a function" error"
1. Install and activate the plugin (natch)
2. Go to a post
3. Flip to Visual mode
4. Click the DocumentCloud toolbar icon
5. Add a URL and whatever
6. Click "Insert"

What should happen: The shortcode composes and inserts into the content.

What happens: Widget seems to reload, console shows error: "Uncaught TypeError: tinyMCE.getInstanceById is not a function"

Unsure when this behavior started,

[2015-04-28 19:52] aschweigert commented on #23
Probably when they updated to the new version of TinyMCE (3.8 or 3.9?), we had a similar issue with some other buttons from original Argo stuff to insert modules into the body of posts. I'll see if I can hunt down what the fix for that was...

[2015-04-28 21:05] reefdog commented on #14
I just realized this means `width/maxwidth` effectively have no impact unless you set `responsive:false`. Guess we should document that.

[2015-04-28 22:19] reefdog commented on #22
So, realized that no matter how many embeds are on a post, only one `documents` and `wide_assets` gets created, keyed by the last embed. (Note how the `update_post_meta()` calls are outside the `foreach()` loop in `save()`.) Which means we don't have to worry about colliding IDs, because only the last man standing is saved anyway.

Is this by design?

[2015-04-29 11:38] eyeseast commented on #23
That Argo stuff is really getting to be a long time ago.

[2015-04-29 11:40] eyeseast commented on #19
This makes sense to me, too.

[2015-04-29 12:51] eyeseast commented on #22
The idea with `wide_assets` was that it only needs to be set once per post. It's a boolean, there's either something wide or there isn't, and having anything wide in the post means it needs to deal with that.

I'm trying to remember what the `$documents` key was for. It's an array, so it makes sense that there's only one, but I can't remember why we were saving it. Maybe just because we could. (Th

[2015-04-29 13:45] aschweigert commented on #23
Looks like we just moved that fix to another site and this is the relevant bit here: https://bitbucket.org/projectlargo/theme-lensnola/commits/2c8f0ca0669c/#Ljs/tinymce/plugins/largo/tinymce.jsT5

[2015-04-29 13:46] knowtheory commented on #23
oh man, thanks for digging that up!  (also, the lens is hosted up on bitbucket?)

[2015-04-29 13:49] aschweigert commented on #23
we keep some of our child themes on bitbucket, but also their site is actually in a sandboxed WP instance because the code quality from the developers they worked with is...questionable.

[2015-04-29 15:53] reefdog commented on #20
Gosh, WP oEmbed caching is a [mess](https://core.trac.wordpress.org/ticket/14759). After testing and searching the source, here's what I've determined:

- `wp_oembed_get()` is uncached, so every pageload hits us twice: once for the oEmbed service and then once for the resource data.
- - Unless, presumably, they're using a page cache like W3 Total Cache or WP Super Cache. We can't rely on this sinc

[2015-04-29 18:28] knowtheory commented on #20
That sounds... awful?

Remember that this is just for the oembed response... and since our embed codes are normally static anyway...  So what i'd say is we should cache as aggressively as possible, and any data changes that are made will be handled through our platform caching & expiry anyway.

[2015-04-29 18:34] reefdog commented on #20
Yup.

[2015-04-29 18:35] eyeseast commented on #20
I think caching the embed code is probably fine. Every raw embed in the wild is essentially the same thing. As long as the underlying document keeps getting fetched, it shouldn't be a problem.

But I concur with Ted: Ick.

[2015-04-29 19:19] reefdog commented on #22
I'm inclined to remove `documents` unless we can figure out its purpose. What do you think?

Grokked on `wide_assets`, although in that case it looks like a wide asset early in a post followed by a normal one later results in saving `false` on the post because of the `else` [here](https://github.com/documentcloud/wordpress-documentcloud/blob/master/documentcloud.php#L165-L167). I'll rip out that `

[2015-04-29 23:37] #4 closed

[2015-04-29 23:37] #8 closed

[2015-04-29 23:37] #14 closed

[2015-04-29 23:37] #19 closed

[2015-04-29 23:37] #20 closed

[2015-04-30 14:43] eyeseast commented on #16
I think we can close this now that #21 is merged. Thanks for all your hard work on this @reefdog and @knowtheory.

[2015-04-30 14:43] #16 closed

[2015-04-30 14:46] eyeseast commented on #22
I think it's fine to dump `$documents`.

[2015-04-30 14:57] aschweigert commented on #22
that seems ok to me too

[2015-04-30 19:12] reefdog commented on #1
[Boom!](https://wordpress.org/plugins/documentcloud/)

Whenever we tag a new version here, I'll manually update the new SVN repo. @eyeseast Do you want access to the new plugin repo? Happy to provide it unless you think you'll never want to mess with the WP directory side of things.

And what do you want to do with Navis DocumentCloud? Keep alive for history, ask WP to remove from directory, point

[2015-04-30 19:12] #1 closed

[2015-04-30 19:13] reefdog commented on #22
Cool. I'll remove.

[2015-04-30 19:14] reefdog commented on #16
For sure, thanks for all your patience as we hammered this out!

[2015-04-30 19:19] #22 closed

[2015-04-30 19:43] knowtheory commented on #16
@eyeseast thanks to you & @aschweigert for your guidance! :)

[2015-04-30 19:48] anthonydb commented on #16
+1!

[2015-04-30 21:22] eyeseast commented on #1
I don't think I need access to the SVN repo, unless you need a bus-factor backup plan.

If WP can remove and redirect the old link, I think that's ideal. Not exactly sure how to do that.

We should also have Largo (ping @aschweigert) point to this version instead of the other one.

[2015-04-30 21:53] reefdog commented on #1
I'll contact WP support to see what the options are for redirecting. Presumably they'll need to contact you.

I added you as a repo committer just in case, yes, the bus. @knowtheory let me know if you want to sign up for a WP account and have me add you too. Just in case that bus bounces off me and hits Chris.

[2015-04-30 21:54] knowtheory commented on #1
I already have a wp account (unsurprisingly as knowtheory) :) and yep would be great to be on the repo too plz!

[2015-05-01 20:18] anthonydb opened #24 "Decommission old Navis-DocumentCloud plugin"
The old one is going to rank high in Google search for a while -- we should see about getting it deleted or pointed to the new one. This was mentioned in another issue that's now closed so getting it on the radar.

[2015-05-01 20:19] reefdog commented on #24
Emailed this to plugins@wordpress.com yesterday:

[2015-05-04 13:45] reefdog commented on #24
Received this from WordPress:

No new information, but sounds like they can't/won't offer an actual redirect from /navis-documentcloud/ to /documentcloud/. I'm getting nervous about just sending the former to /dev/null, so suggested to @eyeseast that we hose all the plugin files and replace the `readme.txt` with instructions for finding the new plugin. WP may eventually frown upon that, but with t

[2015-05-04 13:53] knowtheory commented on #24
:+1: you'd think they'd appreciate that slugs are important, but then again writing something that tracks what supersedes what inside of wordpress would be a bummer.

[2015-07-14 17:21] reefdog opened #25 "Add an embed widget/wizard"
Original version of the plugin had a button (in visual mode) that spawned a wizardy form to let people compose an embed (choosing sidebar yes/no, set size, etc.). It was TinyMCE-based but broke at some point. It's been removed entirely.

At some point we should add something like that back in. Here's what @eyeseast did for another plugin: https://github.com/sunlightlabs/navis-openstates/blob/maste

[2015-07-14 17:22] reefdog commented on #23
TinyMCE stuff yanked entirely. Will eventually try to add something similar back in, but tracking in #25.

[2015-07-14 17:22] #23 closed

[2015-08-11 21:47] reefdog commented on #24
Working with Tom Downing at WITF on this. Suggested plan of attack:

- Update `readme.txt` to point to DC
- Add admin notice directing installed users to uninstall Navis DC and install DC

[2015-08-24 17:01] reefdog commented on #24
Okay, @tomdowning has okayed this approach and @eyeseast has given me commit access to https://github.com/argoproject/navis-documentcloud. I'm making the edits.

Last step will be actually deploying this to the [WordPress plugin directory](https://wordpress.org/plugins/navis-documentcloud/). Still working on getting that authorization.

[2015-09-11 19:47] reefdog opened #26 "Add plugin logo"

[2015-09-11 19:49] reefdog opened #27 "Explicitly check for `note_id` with `isset()`"
See: https://wordpress.org/support/topic/error-if-note_id-not-in-url

My guess is that stricter error reporting levels freak out when trying to access a non-existent object attribute, even when part of a conditional intended to check that very thing.

[2015-09-11 19:52] reefdog commented on #27
Confirmed: when error reporting is set to show notices, accessing non-existent array keys displays an error.

[2015-09-11 20:07] reefdog commented on #26
9c88628c087ef9e6be500bf98fe53182e22e9136

[2015-09-11 20:07] reefdog commented on #27
1f6b791658723d9b7b65536956ad29a949295ea5

[2015-09-22 21:37] knowtheory commented on #24
This is done!  Congratulations to everyone!  We're first party now!  A lot of fun stuff we can and should do! :)

And @aschweigert, @eyeseast & @tomdowning, lets sit down (virtually) and figure out some strategic directions sometime soon.

@reefdog and i are basically resolved that we'd like to use the Wordpress plugin as our primary target for CMS integration, testing and prototyping, because we

[2015-09-22 21:37] #24 closed

[2015-09-22 23:43] aschweigert commented on #24
sweet, definitely let us know if there's anything we can do to help (I know you will, but just reiterating)

[2015-09-23 18:44] reefdog commented on #10
Not originally a dup, but now a dup of #25.

[2015-09-23 18:44] #10 closed

[2015-11-02 21:40] reefdog commented on #25
Considering using [Shortcake](https://github.com/wp-shortcake/shortcake) rather than rolling our own. We'd have to say "go install Shortcake if you want a wizard", but I'm okay with that.

[2015-11-02 21:42] knowtheory commented on #25
@reefdog so it'd be nice to take a quick poke through and think if it's architecturally sane (or get some advice from others), but yeah, i'd say put that wood behind the same arrow.

[2015-11-02 22:05] aschweigert commented on #25
fwiw, there's some talk of shortcake becoming part of wp core but it's hard to say if/when that would happen. i'm catching up with daniel this week and can ask him if you want. otherwise i'd be a little leery re: making it a "requirement", we've looked at it but are kind of taking a wait and see approach for the moment.

[2015-11-02 22:09] knowtheory commented on #25
@aschweigert: just as a point of note, there was a security vulnerability in the TinyMCE integration that the plugin had been using, and our solution was to just remove the wizard for the time being (it wasn't working anyway).

Would be interested if Shortcake would be worth rolling out even as a tentative feature since we currently offer no alternative.

[2015-11-02 22:10] reefdog commented on #25
Yeah, wouldn't make it a requirement for base functionality, just as a potential answer for wizardy embed option composition.

[2015-11-17 17:44] knowtheory opened #28 "Support page embeds"
Once [oEmbed endpoint supports page embed](https://github.com/documentcloud/documentcloud/issues/306).

[2015-12-10 00:21] #27 closed

[2015-12-10 00:21] #26 closed

[2015-12-10 00:21] #28 closed

[2015-12-10 00:22] reefdog commented on #27
ac2b5133c306c4f2f25b72e9e6ecc9d3d05b8161

[2015-12-10 00:25] reefdog opened #29 "Contextual page/note URLs only embeddable with shortcodes"
Pages/notes can only be embedded with a shortcode or with their canonical URLs:

[code]

Since canonical URLs aren't surfaced, we need to also support single-line embedding with contextual URLs:

[code]

[2015-12-10 00:25] reefdog commented on #29
58eb44b8d5a8da974a7eea9f1c4a790fd159beb2

[2015-12-10 00:25] #29 closed

[2016-01-21 01:35] bcampeau opened #30 "Add to WordPress VIP shared plugins repository"
One of our clients is interested in using your plugin on WordPress VIP. I see some minor code formatting and minor issues to resolve so it would pass their code review process. Would you be open to a pull request for this before we invest the effort? We can also help get this into the review queue for WordPress VIP since we're a partner.

Your plugin would then also be available to all WordPress V

[2016-01-21 02:40] knowtheory commented on #30
:100:% interested and happy to work with you on this. cc/ @reefdog

Our intent has been to treat our wordpress plugin as a primary target for future feature development w/r/t our externally facing APIs.  So, at the very least we'd love to chat more about the ongoing expectations set by the VIP review process with someone who has experience with it!

[2016-01-21 02:48] bcampeau commented on #30
There is no real expectation other than to continue to support the plugin as needed, which is as often or little as you like. Every line of code on VIP is shared with all of WordPress.com, so there is a pretty stringent code review process for new plugins.

We've been through it many times, so I figured it would be easier to start with a pull request of my suggestions. We can help get it into thei

[2016-01-21 03:07] reefdog commented on #30
:+1: Thanks @bcampeau!

[2016-02-04 17:10] eyeseast opened #31 "Allow default setting to show/hide sidebar"
The plugin allows defaults for size, but the sidebar is another frequently used setting. (I always turn it off in posts, for example.)

Any other knobs and dials that should be default-able?

[2016-02-15 23:00] bcampeau commented on #30
Just wanted to let you know this has finally been sent your way in https://github.com/documentcloud/wordpress-documentcloud/pull/32.

Thanks.

[2016-02-15 23:01] reefdog commented on #30
This is terrific, @bcampeau, thanks! I'll take a look at it this week. We really appreciate your work on this.

[2016-02-25 17:35] reefdog opened #33 "Default WordPress theme adds border-bottom to links"
Override.

[2016-02-25 18:09] reefdog commented on #30
@bcampeau When you reach out to the VIP folks, have them contact us at support@documentcloud.org if they want to get a DocumentCloud account for testing this. Although they can also experiment with generating shortcodes and embedding raw URLs for any public document, like https://www.documentcloud.org/documents/282753-lefler-thesis.html

[2016-02-25 18:10] reefdog commented on #30
:arrow_up: That's obviously meant for after I actually tag and release your edits, hah. Should be this week, just want to fix a couple bugs I found.

[2016-02-25 20:08] reefdog opened #34 "Height/width settings seem to be ignored"
Height/width settings sent to the oEmbed endpoint are picked up by the endpoint and added to the endpoint's `height/width` response, but are *not* included in the `options` hash in the generated rich embed markup.

The culprit is https://github.com/documentcloud/documentcloud/issues/347

[2016-02-25 20:15] reefdog commented on #33
Actually a problem to be handled in our embed styles. https://github.com/documentcloud/documentcloud-pages/issues/53

[2016-02-25 20:15] #33 closed

[2016-02-25 20:18] reefdog commented on #31
Arguably, all booleans could be. Here's the list of accepted ones:

- `responsive` (currently defaults `true`)
- `sidebar` (currently default `false`)
- `text` (currently defaults `true`)
- `pdf` (currently defaults `true`, although this is made irrelevant by `sidebar:false`)
- `notes`
- `zoom`
- `search`

[2016-02-25 20:25] eyeseast commented on #31
I think it makes sense to include all of them. Might as well make this easy for people.

[2016-02-25 20:29] reefdog opened #35 "Bare URLs don't get default settings"
We have a handful of [default parameters](https://github.com/documentcloud/wordpress-documentcloud/blob/183f7023b77fd45078fd28da41ceaf8b6fdc4989/documentcloud.php#L153-L168) we send to the oEmbed endpoint, as well as global defaults you can set in the Settings screen.

These work when you use the shortcode like `[documentcloud url="…"]`, but not when you just paste a resource URL on its own line.

[2016-02-25 20:29] reefdog commented on #35
Fixed in 9f682529eef5aff13350b8990ac7b52e4d14ec09

[2016-02-25 20:29] #35 closed

[2016-02-25 20:38] reefdog commented on #31
:+1: You wanna take a crack at it?

I don't much care what the defaults for `text/pdf/sidebar` are (I just left the existing defaults in), but `responsive` should default true.

[2016-02-25 20:39] eyeseast commented on #31
Yeah, can do. I was also going to take a shot at #25 this week or next.

[2016-02-25 20:45] reefdog commented on #34
Platform fixed.

[2016-02-25 20:45] #34 closed

[2016-02-25 20:45] reefdog commented on #31
Awesome! I'm about to tag and release v0.4.1 with the VIP conformity and #35. #25 would justify a v0.5.0 release, IMO.

[2016-02-25 20:58] reefdog opened #36 "Slugs with uppercase letters throw off URL-cleaner"
The pattern to recognize a URL as a DocumentCloud oEmbedable URL is [very permissive](https://github.com/documentcloud/wordpress-documentcloud/blob/183f7023b77fd45078fd28da41ceaf8b6fdc4989/documentcloud.php#L113-L114).

Since many of our resources (pages, notes) have [multiple URL patterns](https://github.com/documentcloud/wordpress-documentcloud/blob/183f7023b77fd45078fd28da41ceaf8b6fdc4989/docum

[2016-02-25 22:10] reefdog commented on #36
The impact of this was that pages and notes from documents with an uppercase letter in the slug weren't embeddable via the plugin; you'd always get the full document embed instead.

[2016-02-25 22:14] #36 closed

[2016-02-25 22:16] reefdog opened #37 "Recognize full Unicode range document slugs"
Currently, the platform can create document slugs with Unicode characters, but our pattern-recognizer still only recognizes Latin alphanumerics.

Need to change [`0-9a-zA-Z-`](https://github.com/documentcloud/wordpress-documentcloud/blob/4de1d222b4ce517b71083a8d4c62a5c3401760f3/documentcloud.php#L35) to `\p{L}\p{N}%-`.

**However!** We're blocked by the platform's oEmbed endpoint, which currently

[2016-02-25 23:17] reefdog commented on #30
One question, @bcampeau: I noticed you converted soft tabs (spaces) to tabs. That doesn't seem to be a WP VIP requirement. Is that just a stylistic preference, or is there a VIP reason to keep them tabs?

[2016-02-25 23:18] bcampeau commented on #30
It's WordPress coding standards, not VIP. However, they do make the code more readable and is their preferred format as well.

[2016-02-25 23:30] reefdog commented on #30
Got it. We'll conform, then. Thanks!

[2016-02-25 23:35] reefdog commented on #30
Tagged and deployed.

[2016-02-25 23:36] bcampeau commented on #30
Great, thanks.

On Thu, Feb 25, 2016 at 6:35 PM, Justin Reese <notifications@github.com>
wrote:

--
Brad Campeau-Laurion
Partner, Alley Interactive
212-257-2154

[2016-02-25 23:40] reefdog commented on #37
Meh. We should be in sync with the platform. That it won't help it work *now* is immaterial; when the oEmbed endpoint *does* work properly, it'll be nice to have the plugin already ready. Hotfixing this as v0.4.2.

[2016-02-25 23:44] #37 closed

[2016-03-13 23:12] paulschreiber opened #38 "Offer to deactivate navis-documentcloud plugin if installed"
Currently, if the Navis DocumentCloud plugin is installed, DC displays a warning:

In addition to displaying the warning, offer to deactivate the plugin.

Docs: https://developer.wordpress.org/reference/functions/deactivate_plugins/

[2016-03-13 23:21] knowtheory opened #40 "TinyMCE preview missing for short codes"
If you paste `http://www.documentcloud.org/documents/282753-lefler-thesis.html` into the TinyMCE editor and then flip to visual mode, the document will be loaded via oembed.

If you paste in `[documentcloud url="http://www.documentcloud.org/documents/282753-lefler-thesis.html" width=100 height=100 sidebar=false]` (to shut off the sidebar) and then flip to the visual mode, the shortcode is not conv

[2016-03-14 15:08] bcampeau commented on #30
@reefdog VIP asked for a couple minor changes, which I've handled in #41 if you can review and merge.

Thanks.

[2016-03-16 16:14] reefdog commented on #38
I like that. Any chance you want to take a crack at it? Otherwise I'll get to it next time I'm able.

[2016-03-16 16:16] reefdog commented on #40
I know TinyMCE powers the post-editing interface, but as that's an implementation detail, should probably just reference "Text" and "Visual" modes for clarity.

[2016-03-16 16:31] reefdog commented on #30
Merged in, thanks @bcampeau. Presumably I need to actually release a new version to get the VIP team to re-evaluate? Bit of a bummer, since it'll prompt people to upgrade, but seems worthwhile.

[2016-03-16 16:32] bcampeau commented on #30
I'll just notify them the changes have been merged and they'll just pull the latest from the master branch.

[2016-03-16 16:34] reefdog commented on #30
Oh, excellent, thanks @bcampeau!

[2016-03-16 23:44] bcampeau commented on #30
There's been a bit of a swerve here at the last minute. VIP is not accepting any new plugins to the shared plugins repository. Going forward, they're going to keep an approved plugins list and the latest version that has been reviewed. Clients that wish to use these plugins can commit them directly to their own repository.

Therefore, you can advise anyone on VIP that wishes to use this plugin the

[2016-03-16 23:44] #30 closed

[2016-03-17 16:52] reefdog commented on #30
So it's moving from an enforced whitelist to a "verified" badge, basically?

Thanks for spearheading this regardless, @bcampeau. The plugin is better for it.

[2016-03-17 16:54] bcampeau commented on #30
I'm not really sure how this will work logistically, but something like that.

[2016-03-18 16:15] eyeseast commented on #40
I think this can get lumped into #25, if we use Shortcake. I keep meaning to get to that but keep getting sidetracked by work projects (and the sick).

[2016-03-18 16:19] reefdog commented on #40
Is it related? I'm genuinely unsure. What Ted's describing: if you flip to text mode of a post and paste in a raw DC URL (like https://www.documentcloud.org/documents/282753-lefler-thesis.html) and then flip to Visual mode, the embed gets fetched and inserted into the post body. Which is super cool. But if you flip to text mode and paste in a shortcode, then flip back to visual mode, the shortcode

[2016-03-18 16:21] reefdog commented on #40
In fact definitely.

[2016-03-18 16:21] #40 closed

[2016-03-18 16:25] knowtheory commented on #40
wait, wat?

Why is this #wontfix?  You should still be able to configure in text mode right?  The Q is where the preview happens and whether you can get that in the editor or whether you have to hit the preview button right?

[2016-03-18 16:27] knowtheory commented on #40
It is super weird to me that the straight URL embeds but not the shortcode, but if that's expected behavior... i guess that's okay?

[2016-03-18 16:31] reefdog commented on #40
It's the intersection of a few things that make it reasonable.

Straight URLs don't carry any embed configuration options, so it's a straight functionality gain to have them convert to an actual embed in Visual mode. Shortcodes carry configuration options, so having *them* convert to an embed would means the user would have to flip to Text mode to configure it. Since most users live in Visual mode

[2016-03-22 16:12] reefdog opened #43 "Investigate WP 4.4 oEmbed changes"
As discovered when [helping @JoeGermuska debug StoryMap](https://github.com/NUKnightLab/oembed-server/issues/2#issuecomment-199809472), and via [this comment](https://github.com/WordPress/WordPress/blob/8e41746cb11271d063608a63e3f6091a8685e677/wp-includes/class-oembed.php#L100-L102) in the WP oEmbed class:

Here's what seems to happen.

1. Since WP 4.4, all URLs entered on their own lines are fetc

[2016-03-22 16:13] reefdog commented on #43
My current hypothesis is that this will happen:

1. If we return an iframe to our oEmbed endpoint, then all WP 4.4+ users will get a stripped-down iframe with those security/sandbox attributes, without even installing our plugin.
2. Plugin users will continue to get the complete, unsanitized oEmbed endpoint.

[2016-03-29 21:35] knowtheory commented on #30
@bcampeau btw, with your end goal of getting your client up and running with our plugin... is there anything we can do to help you on that front, or are you effectively stymied until WP.com comes out with their new process?

[2016-03-29 22:15] bcampeau commented on #30
No holdup. The plugin is live on their site via the method I described - including it in the theme.

[2016-10-20 19:03] reefdog opened #45 "Verify against latest WP"
Last WP I tested against was 4.4.5. WP's now at 4.6.1. Need to test.

Make sure to notify https://wordpress.org/support/topic/documentcloud-plugin-update/ when done.

[2016-10-26 18:45] reefdog opened #47 "Fix defaulting to a page or note"
The viewer can default to a specific page or note with the `page` and `note` options. These should really be named `default_page` and `default_note` to be more clear. We began this transition way back when, but didn't complete it, and the halfway state is causing problems. For instance, the shortcode generator on the platform outputs `page` instead of `default_page`, but this plugin expects `defau

[2016-10-26 18:48] reefdog opened #48 "Separate oEmbed config from embed config"
Adapt plugin for https://github.com/documentcloud/documentcloud/issues/412

[2016-10-26 19:10] reefdog opened #49 "Update earliest supported WP version"
[Currently it's 3.2](https://github.com/documentcloud/wordpress-documentcloud/blob/38be75c75bb54811baac24fdbb184b202cc03174/readme.txt#L4), but some testing of the latest changes has funny results. I doubt many people are still using 3.2 and the plugin, but should test and be accurate.

[2016-10-26 20:23] reefdog commented on #49
[We now require 3.5.](fefb797d694f5526156b9145627719f5b4336d73)

[2016-10-27 14:51] #49 closed

[2016-10-27 14:51] #47 closed

[2016-10-27 14:52] #45 closed

[2016-10-27 14:52] #48 closed

[2017-01-22 16:01] m4lvin opened #51 "Only store metadata when post contains an embed"
The meta variable `wide_assets` is added on all posts (even those without documentcloud embeds). Some of my users find this irritating. Could you store this information elsewhere or hide it? Or is it meant to be edited manually?

Alternatively, could you make sure `wide_assets` is only added to posts actually containing documentcloud embeds?

[2017-01-23 15:00] reefdog commented on #51
@m4lvin Yeah, I can see that being irritating. We inherited this plugin from @argoproject, and they used this boolean to signal some of their themes. Now that the plugin is meant for more generic use, we should revisit the impact of `wide_assets`.

I'm not caught up on WordPress best practices. What's the better way to store this, and to ensure it's only set if an embed exists? Would you be able t

[2017-01-26 16:40] m4lvin commented on #51
Thanks for the reply. If extra information per post is really needed, then it should be in a separate table managed by the plugin only. And In the post editor [add_meta_box](https://developer.wordpress.org/reference/functions/add_meta_box/) seems to be the right thing to use?

I will not implement this myself though, because now I realized that oEmbed without any plugin is enough for our purposes.

[2017-01-26 16:51] reefdog commented on #51
Correct, if you don't have this plugin installed, we wouldn't have any facility for storing meta variables. Glad to hear the vanilla oEmbed works for you!

I'm going to reframe the title of this issue, though I don't know if/when I'll be able to get to it. If you *do* want to take a crack, PRs are much apprecated. :)

[2017-01-26 16:59] eyeseast commented on #51
Copying over what I wrote before on this:

We had a couple different plugins that implemented `wide_assets`. That's part of why it's in `wp_post_meta` instead of another table. I think that was also just the normal pattern in 2011, to put everything in meta fields.

I don't know if anyone is still actively developing that theme, but I know several NPR local stations still use it.

Part of the cont

[2017-01-26 17:09] reefdog commented on #51
Very interesting, thanks @eyeseast. Since the oEmbed-delivered embed is responsive anyway, does that make this whole conversation unnecessary?

Also, @m4lvin: I just remembered that without the plugin, it's pretty hard to embed notes. You have to know to transform page-anchor-style note URLs that we expose around the platform (e.g., https://www.documentcloud.org/documents/282753-lefler-thesis.html

[2017-01-26 17:55] eyeseast commented on #51
For the most part, probably. For the StateImpact sites, we had a pattern where we'd display posts differently on the index page if they had `wide_assets` (usually showing only a preview, instead of the whole doc viewer). But that may be an edge case that shouldn't concern this plugin.

[2017-06-01 22:34] aschweigert commented on #51
are we ok with just removing this? if so, i'll submit a patch.

[2017-06-01 22:37] knowtheory commented on #51
Yep, a patch would be lovely and let's do it.

[2017-06-02 14:47] reefdog commented on #51
@aschweigert If you happen to have WP 4.8 installed locally, verifying it works on that would be 👍 so we can update the readme. No worries if not.

@knowtheory You need me to help push the patch to the WP plugin repo, or are you setup with that?

[2017-06-02 14:49] knowtheory commented on #51
I am not yet set up to do it!

[2017-06-02 15:24] reefdog commented on #51
[You're an admin](https://wordpress.org/plugins/documentcloud/advanced/), so all you need to do is clone (or whatever) the [svn repo](https://plugins.svn.wordpress.org/documentcloud/). I should add a `Development` section to the readme, but basically:

1. Make changes
2. When ready to release a new version, do final testing and housekeeping
   - Update changelog in README.md (for GitHub) and readm

[2017-06-02 15:47] knowtheory commented on #51
Awesome :) Thanks for the instrux.

[2017-06-02 15:59] reefdog commented on #51
For sure. Also just noticed README.md slipped into the official plugin svn repo. Feel free to remove it, they use readme.txt.

[2017-06-12 16:16] jaredcobb opened #52 "Some shortcode parameters are not working for some documents"
It seems that some of the shortcode parameters (for example `height`, `width`, `zoom`, `page`, and a few others) are not consistently working on some documents.

### Steps to reproduce:

1. Add the following shortcode to a post:

[code]

2. The plugin will make an API call like so:

[code]

3. The API response will be:

[code]

4. Note a few things about the `html` value...

- The inline style att

[2017-06-16 16:21] #51 closed

[2017-10-29 07:26] TheRoccoB commented on #15
Were you ever able to get this going? What was the process for getting whitelisted w/ wordpress? I may be implementing something similar, and would love to be whitelisted.

[2017-10-31 18:01] knowtheory commented on #15
Hey @TheRoccoB, we haven't pursued whitelisting further with wordpress.com.  We do know that the plugin's gotten a review for Wordpress VIP, but that was handled at the level of our users asking their VIP teams to investigate.

[2017-11-01 01:59] TheRoccoB commented on #15
Got it. Sounds like you have to be reasonably established for them to whitelist you. Thanks for letting me know!

[2018-08-21 16:42] astratagem commented on #52
Confirmed this is happening for me too on a fresh WP install.